<h2>Availability</h2>
<%= month_calendar events: @statuses do |date, statuses| %>
  <%= date.strftime("%d") %>
  <div>
    <%= link_to "Request", location_item_req_path(@location.id, @item.id, start_time: date) %>
  </div>
  <% statuses.each do |status| %>
    <div> Booked </div>
  <% end %>
<% end %>
</table>
