@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';

.container {
  text-align: center;
}

.panel-body {
  display: inline-flex;
  text-align: center;
}

.jumbotron {
  text-align: center;
}

.footer {
  text-align: center;
  color: gray;
}

table, th, td, tr {
  text-align: center;
}
