<%= provide(:title, "Locations") %>
<div class="container">
  <h1>Locations</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Items</th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location%></td>
        <td><%= Item.where(location_id: location.id).count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.super_admin? %>
    <p><%= link_to "+ Add New Location", new_location_path %></p>
  <% end %>
</div>
