<%= provide(:title, "Locations") %>
<div class="container">
  <h1>Locations</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Items</th>
        <th>Utilization</th>
        <th>Admin</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p><%= link_to "+ Add New Location", new_location_path %></p>
</div>
