<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
    <%= link_to "Inventory App", root_path %>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Current Inventory", index_path %></li>
        <li><%= link_to "Log Out", "#" %></li>
      </ul>
  </div>
  </div>
</div>
